In [61]:
#pip install nltk

In [62]:
import nltk

In [63]:
#pip install pandas

In [64]:
import pandas as pd

In [65]:
#nltk.download()

In [66]:
fake = pd.read_csv("C:\\Users\\Roshan\\Downloads\\Fake.csv")
genuine = pd.read_csv("C:\\Users\\Roshan\\Downloads\\True.csv")

In [67]:
display(fake.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

None

In [68]:
display(genuine.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

None

In [69]:
display(genuine.head())

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [70]:
display(fake.subject.value_counts())

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

In [71]:
fake['target'] = 0
genuine['target'] = 1

In [72]:
display(fake.head(10))

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
5,Racist Alabama Cops Brutalize Black Boy While...,The number of cases of cops brutalizing and ki...,News,"December 25, 2017",0
6,"Fresh Off The Golf Course, Trump Lashes Out A...",Donald Trump spent a good portion of his day a...,News,"December 23, 2017",0
7,Trump Said Some INSANELY Racist Stuff Inside ...,In the wake of yet another court decision that...,News,"December 23, 2017",0
8,Former CIA Director Slams Trump Over UN Bully...,Many people have raised the alarm regarding th...,News,"December 22, 2017",0
9,WATCH: Brand-New Pro-Trump Ad Features So Muc...,Just when you might have thought we d get a br...,News,"December 21, 2017",0

In [73]:
display(genuine.head(10))

,title,text,subject,date,target
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1
5,"White House, Congress prepare for talks on spe...","WEST PALM BEACH, Fla./WASHINGTON (Reuters) - T...",politicsNews,"December 29, 2017",1
6,"Trump says Russia probe will be fair, but time...","WEST PALM BEACH, Fla (Reuters) - President Don...",politicsNews,"December 29, 2017",1
7,Factbox: Trump on Twitter (Dec 29) - Approval ...,The following statements were posted to the ve...,politicsNews,"December 29, 2017",1
8,Trump on Twitter (Dec 28) - Global Warming,The following statements were posted to the ve...,politicsNews,"December 29, 2017",1
9,Alabama official to certify Senator-elect Jone...,WASHINGTON (Reuters) - Alabama Secretary of St...,politicsNews,"December 28, 2017",1

In [74]:
data = pd.concat([fake,genuine],axis=0)

In [75]:
date = data.reset_index(drop=True)

In [76]:
data= date.drop(['subject','date','title'],axis=1)

In [77]:
print(data.columns)

Index(['text', 'target'], dtype='object')

# TOKENIZATION

In [78]:
from nltk.tokenize import word_tokenize

In [79]:
data['text']=data['text'].apply(word_tokenize)

In [80]:
print(data.head(10))

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

#  Stemming

In [81]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english")

In [82]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [83]:
data['text'] = data['text'].apply(stem_it)

In [84]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, of, case, of, cop, brutal, and, ...       0
6  [donald, trump, spent, a, good, portion, of, h...       0
7  [in, the, wake, of, yet, anoth, court, decis, ...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, we, d,...       0

# Stopword removal

In [85]:
from nltk.corpus import stopwords

In [86]:
#nltk.download('stopwords')

In [87]:
def stop_it(t):
    dt = [word for word in t if len(word)>2]
    return dt

In [88]:
data['text'] = data['text'].apply(stop_it)

In [89]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, wish, all, ameri...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [friday, was, reveal, that, former, milwauke, ...       0
3  [christma, day, donald, trump, announc, that, ...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, case, cop, brutal, and, kill, pe...       0
6  [donald, trump, spent, good, portion, his, day...       0
7  [the, wake, yet, anoth, court, decis, that, de...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, get, b...       0

In [90]:
data['text']=data['text'].apply(' '.join)

In [91]:
print(data.head(10))

                                                text  target
0  donald trump just couldn wish all american hap...       0
1  hous intellig committe chairman devin nune hav...       0
2  friday was reveal that former milwauke sheriff...       0
3  christma day donald trump announc that would b...       0
4  pope franci use his annual christma day messag...       0
5  the number case cop brutal and kill peopl colo...       0
6  donald trump spent good portion his day his go...       0
7  the wake yet anoth court decis that derail don...       0
8  mani peopl have rais the alarm regard the fact...       0
9  just when you might have thought get break fro...       0

# splitting up of data

In [92]:
#pip install scikit-learn

In [93]:
import sklearn

In [94]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data['text'],data['target'], test_size=0.25)
display(X_train)
print('\n')
display(y_train)

42062    bishoftu ethiopia reuter hundr peopl chant ant...
14564    insult injuri what obama doe best here goe aga...
32706    new york reuter corrupt charg against union le...
36704    zurich reuter switzerland releas nation plan m...
23436    shawn helton 21st centuri wirewith the unit st...
                               ...
35058    sydney reuter australia will end air strike ag...
1867     former saturday night live cast member has jus...
42472    johannesburg reuter group dutch tourist were f...
18583    shock new video has just been releas the cente...
39214    rome reuter rescuer pull 700 boat migrant safe...
Name: text, Length: 33673, dtype: object

42062    1
14564    0
32706    1
36704    1
23436    0
        ..
35058    1
1867     0
42472    1
18583    0
39214    1
Name: target, Length: 33673, dtype: int64

# Vectorization

In [95]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf = TfidfVectorizer(max_df=0.7)

tfidf_train = my_tfidf.fit_transform(X_train)
tfidf_test = my_tfidf.fit_transform(X_test)

In [96]:
print(tfidf_train)

  (0, 28139)	0.04089495273021235
  (0, 31117)	0.0750151237706412
  (0, 22731)	0.03567345611160749
  (0, 37810)	0.014944325713389207
  (0, 27275)	0.0452599599867294
  (0, 41601)	0.10023633731134947
  (0, 67840)	0.056409525411723144
  (0, 74056)	0.06357727396168507
  (0, 18322)	0.048674747737920306
  (0, 59206)	0.036068613737109914
  (0, 66142)	0.05177874595446277
  (0, 9426)	0.1107568631022961
  (0, 30485)	0.05916973939701517
  (0, 49175)	0.0732527839104327
  (0, 79109)	0.04962499092502886
  (0, 64841)	0.04479980720485839
  (0, 55840)	0.02483057753127031
  (0, 48342)	0.042723998098891
  (0, 10864)	0.04063812074105287
  (0, 1)	0.03153730253077583
  (0, 3838)	0.06528949151489857
  (0, 80952)	0.02216279061166993
  (0, 55682)	0.019036669342378923
  (0, 60680)	0.038283119106074105
  (0, 13467)	0.018389531722828225
  :	:
  (33672, 88432)	0.10700708783090825
  (33672, 51532)	0.024280048072815554
  (33672, 88234)	0.03238432289615277
  (33672, 81395)	0.016683307263504896
  (33672, 88608)	0.022156793312437327
  (33672, 37810)	0.016062164692487533
  (33672, 60680)	0.041146705165356276
  (33672, 13467)	0.019765072898883105
  (33672, 17091)	0.03508238642188614
  (33672, 59270)	0.015996907579204477
  (33672, 81466)	0.05747019764980769
  (33672, 88243)	0.026763389775076495
  (33672, 81309)	0.018695706813492783
  (33672, 8055)	0.020374754021253445
  (33672, 61348)	0.02109908709948939
  (33672, 10838)	0.03378956506681024
  (33672, 88679)	0.026583820865685698
  (33672, 37102)	0.06063657848824925
  (33672, 55578)	0.02879005457339234
  (33672, 8021)	0.05658506814494831
  (33672, 27658)	0.027485023526437065
  (33672, 90591)	0.021195289689310066
  (33672, 18815)	0.04465922984982327
  (33672, 63155)	0.06410041788414075
  (33672, 69632)	0.01994838173707611

In [97]:
display(tfidf_train)

<33673x92009 sparse matrix of type '<class 'numpy.float64'>'
	with 5985741 stored elements in Compressed Sparse Row format>

# LogisticRegression

In [98]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [99]:
display(y_train)

42062    1
14564    0
32706    1
36704    1
23436    0
        ..
35058    1
1867     0
42472    1
18583    0
39214    1
Name: target, Length: 33673, dtype: int64

In [100]:
display(tfidf_test)

<11225x54181 sparse matrix of type '<class 'numpy.float64'>'
	with 2026713 stored elements in Compressed Sparse Row format>

In [ ]:
model_1 = LogisticRegression(max_iter=900)
model_1.fit(tfidf_train, y_train)
pred_1 = model_1.predict(tfidf_test)
cr1    = accuracy_score(y_test,pred_1)
print(cr1*100)

# PassiveAggressiveClassifier

In [ ]:
from sklearn.linear_model import PassiveAggressiveClassifier

model = PassiveAggressiveClassifier(max_iter=50)
model.fit(tfidf_train, y_train)

In [ ]:
y_pred = model.predict(tfidf_test)
accscore = accuracy_score(y_test, y_pred)
print(' the accuracy of prediction is ',accscore*100)